/* General Styles */
body {
    font-family: "Cinzel", serif;
    background-color: #f5f1e8;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-family: "Engravers MT", serif;
    color: #7C0A02;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Form Container */
form {
    max-width: 500px;
    background: #f4f1e8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Fields */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7C0A02;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

/* File Inputs */
input[type="file"] {
    border: none;
    background: #f4f1e8;
    padding: 8px;
    font-size: 16px;
}

/* Button */
button {
    max-width: 200px;
    width: 100%;
    background-color: #DAA520;
    color: #7C0A02;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

button:hover {
    background: #7C0A02;
    color: #DAA520;
}