body {
    text-align: center;
}

.introduction {
    padding: 60px 10%;
}

.introduction p {
    font-size: 1.2rem;
    color: #2e2e2e;
    margin-bottom: 40px;
  }
  
  .tips, .genres, .research_education, .spotlight_reviews, .new_events {
    padding: 40px 20px;
    margin-top: 30px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #5A3E36;
  }

  h3 {
    color: #e1c16e;
  }
  
  .grid, .genres-grid, .spotlight-grid, .events-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  .card, .genre-card, .spotlight-card, .event-card {
    background-color: #7C0A02;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: #f4f1e8;
  }

  .card img, .spotlight-card img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .card:hover, .genre-card:hover, .spotlight-card:hover, .event-card:hover {
    transform: translateY(-10px);
  }
  
  .explore-btn {
    padding: 12px 20px;
    background-color: #DAA428; 
    color: #7C0A02;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
  }
  
  .explore-btn:hover {
    background-color: #7C0A02;
    color: #DAA428;
    border: 2px solid #DAA428;
    text-decoration: none;
  }
  