/* General Styles */
body {
    font-family: "Libre Baskerville", serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    background-color: #f4f1e8;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-family: "Engravers MT", serif;
    color: #7C0A02;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Form Container */
form {
    max-width: 500px;
    background: #e1c16e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Labels */
label {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    font-weight: bold;
    color: #7C0A02;
    display: block;
    margin-top: 10px;
    text-align: left;
    width: 90%;
}

/* Input Fields */
input,
textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #7C0A02;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

/* Textarea Styling */
textarea {
    height: 100px;
    resize: vertical;
}

/* Button */
button {
    max-width: 200px;
    width: 100%;
    background: #7C0A02;
    color: #DAA520;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: none;
}

button:hover {
    background-color: #DAA520;
    color: #7C0A02;
    border: 3px solid #7C0A02;
}